{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
   <main role="main" class="container">
    {% if messages %}

        {% for message in messages %}
            <div id="message" class="container">
              <div class="alert alert-{{ message.tags }}" alert-dismissable role="alert">
                  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>

                  <strong>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        Error:
                    {% else %}
                        {{message.tags|title}}
                    {% endif %}
                  </strong>
                  {{message}}
              </div>
            </div>
        {% endfor %}

    {% endif %}
      <h1 class="mt-5">Hello {{user.username}}</h1>
        <p class="lead">This site Developed " Django Project with PostgreSQL & Deploy on Heroku "</p>
        <p>
          <a href="https://github.com/fatihkgm/AuthenticationApp-With-Node-JS-and-PostgreSQL">Please have a look my NODEJS-AUTHENTICATIONAPP used and developed by PostgreSQL for task 2</a><br>
           <a href="https://fgokmen.herokuapp.com/gradvisory">Capstone Project "Developed tiwh 4 teams" - Django and deployed Heroku </a><br>
            <a href="https://fgokmen.herokuapp.com/post">Built enterprise-level React applications and deployed them to Heroku. </a><br><br>

            <p>Hello Jheel Patel,</p> <br>

            <p>Thank you for taking the time to learn more about my candidacy. I look forward to speaking soon and learning more about LearnerIA.</p>
            <p>i was going to buy bootstrap template and make my tasks more stylish,however i had  other projects and assignments to be completed .</p><b>




      </p>
  </main>
{% endblock content %}