
{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
   <div class="text-center">
  <img
    class="mb-4 rounded-circle"
    src="{% static 'accounts/img.png' %}"
    alt=""
    width="72"
    height="72"
  />
 
  <form class="form-signin" action="{url 'login'}" method="POST">
  	 {% csrf_token %}

    <h1 class="h3 mb-3 font-weight-normal">Please Log In</h1>

    <label for="username" class="sr-only">Email address</label>
    <input
      type="text"
      id="inputEmail"
      name="username"
      class="form-control"
      placeholder="UserName"
      required
      autofocus
    />
    <label for="password" class="sr-only">Password</label>
    <input
      type="password"
      id="inputPassword"
      name="password"
      class="form-control"
      placeholder="Password"
      required
    />
    <br />
    <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block">
     
    </input>
    <p class="help-block mt-5 mb-3 text-muted">
      Don't have an account.!
      <a href="{% url 'register' %}"> Register </a>
    </p>
  </form>
</div>
{% endblock content %}