
{% extends "accounts/base.html" %}
{% load static %}
{% block content %}

<div class="text-center">
  <img
    class="mb-4 rounded-circle"
    src="{% static 'accounts/img.png' %}"
    alt=""
    width="72"
    height="72"
  />
  <form class="form-register" actio="{% url 'register' %}"  method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
    
    <label for="name" class="sr-only">Name</label>
    <input
      type="text"
      id="name"
      name="name"
      class="form-control"
      placeholder="Your Name"
      required
      autofocus
    />
    <label for="email" class="sr-only">Email address</label>
    <input
      type="email"
      id="email"
      name="email"
      class="form-control"
      placeholder="Email address"
      required
      autofocus
    />
    <label for="password" class="sr-only">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="Password"
      required
    />
    <label for="password" class="sr-only">Password (Confirm )</label>
    <input
      type="password"
      id="password_confirm"
      name="password_confirm"
      class="form-control"
      placeholder="Confirm Password"
      required
    /><br />

    <input
      type="submit"
      value="Register"
      class="btn btn-lg btn-primary btn-block"
    >

    </input>
    
  </form><br>
  <p class="help-block  mb-3 text-muted">
      Already registered...!
      <a href="{% url 'login' %}"> Sign In </a>
    </p>
</div>

{% endblock content %}